.page{
    background-color: #dcdcdc;
}
.navi{
    background-color: #cdcdcd;
    width: 15em;
    float: left;
}
.content{
    background-color: transparent;
    margin-left: 1px;
}
.article{
    background-color: #abacac;
    margin-bottom: 0.2em;
    margin-left: 15em;
}
.footer{
    background-color: #cdcdcd;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
.pic{
    float: right;
    width: 5%;
    margin-right: 5px
}
.spacer{
    min-height: 6vh;
}